.wrap {
    width: 100%;
    height: 100%;
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/cover.jpg") center/cover no-repeat;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px
}

.hidden {
    display: none;
}

.nav__list {
    font-size: 45px;
    font-weight: 400;
    color: var(--main-color);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 30px auto 0 auto;
    padding: 30px;
}

.login-title {
    font-size: 65px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 20px;
}

.login-container input {
    margin-top: 10px;
    background-color: inherit;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}

.login-container input::placeholder {
    color: var(--white);
}

.button-container {
    margin-top: 10px;
}

.login-id {
    position: relative;
}

.id-checker {
    position: absolute;
    margin-top: 96px;
    margin-left: 160px;
    background-color: var(--main-color);
    color: var(--white);
}

.button-container button {
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white);
    margin: 5px 4px;
}