<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>로그인</title>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href = "../static/detailstyle.css">
</head>
<body>
<div class="page">
            <header>
                <h2>뮤플리</h2>
                <nav>
                    <ul class="page-header">
                        <li><a href="#">Main</a></li>
                        <li><a href="">My Page</a></li>
                        <li><a href="">Login</a></li>
                    </ul>
                </nav>
            </header>
        </div>
<hr>
<div class="main">
    <div class="music-info">
        <div class="song-image">


        </div>
        <div class="song-info">
            <h2 class="title">싸다9</h2>
            <ul class="info-data">
                <li class="list">
                    <span class="attr">
                        가수명
                    </span>
                    <span class="attr">
                        싸이
                    </span>
                </li>
            </ul>
            <ul class="info-data">
                <li class="list">
                    <span class="attr">
                        발매일자
                    </span>
                    <span class="attr">
                        싸이
                    </span>
                </li>
            </ul>
            <ul class="info-data">
                <li class="list">
                    <span class="attr">
                        가수명
                    </span>
                    <span class="attr">
                        싸이
                    </span>
                </li>
            </ul>
            <button class="add-btn" type="button">담기</button>
        </div>

    </div>

    <hr>
    <div class="review">
        <h2 class="txt">리뷰 모음</h2>
        <div class="review-moeum" id="review-list">
            <ul class="review-data">
                <li class="review-doc">
                    <span class="review-text" id="review-id">
                        닉네임
                    </span>

                    <span class="review-text" id="review-comment">
                        코멘트
                    </span>

                    <span class="review-text" id="review-star">
                        별점
                    </span>

                    <span class="review-text" id="review-time">
                        작성시간
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="footer">

        <h3>리뷰 작성</h3>

        <div class="input">
            <input class="items">
            <form name="myform" id="myform" method="post" action="./save" style="margin-left: 20px;">
                <fieldset>
                    <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                    <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                    <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                    <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                    <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                </fieldset>
            </form>
            <button class="submit-btn" type="button">등록</button>
        </div>
    </div>
</div>
<hr>

</body>
</html>