<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>뮤플리 - 로그인페이지</title>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/c1651245ed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script>
            {% if msg %}
                alert("{{ msg }}")
            {% endif %}
            // ['쿠키'라는 개념에 대해 알아봅시다]
            // 로그인을 구현하면, 반드시 쿠키라는 개념을 사용합니다.
            // 페이지에 관계없이 브라우저에 임시로 저장되는 정보입니다. 키:밸류 형태(딕셔너리 형태)로 저장됩니다.
            // 쿠키가 있기 때문에, 한번 로그인하면 네이버에서 다시 로그인할 필요가 없는 것입니다.
            // 브라우저를 닫으면 자동 삭제되게 하거나, 일정 시간이 지나면 삭제되게 할 수 있습니다.
            function login() {
                $.ajax({
                    type: "POST",
                    url: "/user/login",
                    data: {id_give: $('#userid').val(), pw_give: $('#userpw').val()},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                            // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                            $.cookie('mytoken', response['token']);

                            alert('로그인 완료!')
                            window.location.href = '/'
                        } else {
                            // 로그인이 안되면 에러메시지를 띄웁니다.
                            alert(response['msg'])
                        }
                    }
                })
            }

            function idCheck() {

            }

            function buttonShow() {
                $('.id-checker').toggleClass('hidden');
                $('.real-join').toggleClass('hidden');
                $('.cancel').toggleClass('hidden');
                $('.fake-join').toggleClass('hidden');
                $('.login').toggleClass('hidden');
            }

            function cancel() {
                $('.id-checker').toggleClass('hidden');
                $('.real-join').toggleClass('hidden');
                $('.cancel').toggleClass('hidden');
                $('.fake-join').toggleClass('hidden');
                $('.login').toggleClass('hidden');
            }

            function join() {
                window.location.href = '/join';
            }
        </script>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="logo">
                <a href="#"><i class="fa-brands fa-spotify fa-3x"></i></a>
            </div>
            <nav class="nav-bar">
                <ul class="nav__item">
                    <a href="#">
                        <li class="nav__list">뮤직차트</li>
                    </a>
                </ul>
            </nav>
        </header>
        <section class="login-container">
            <h1 class="login-title">뮤플리</h1>
            <input class="login-id" type="text" id="userid" maxlength="14" placeholder="아이디"/>
            <input class="login-pw" type="password" id="userpw" placeholder="비밀번호" />
            <button class="id-checker hidden" onclick="idCheck()">중복체크</button>
            <div class="button-container">
                <button class="login" onclick="login()">로그인</button>
                <button class="real-join hidden" onclick="join()">회원가입</button>
                <button class="cancel hidden" onclick="cancel()">취소</button>
                <button class="fake-join" onclick="buttonShow()">회원가입</button>
            </div>
        </section>
    </div>
</body>
</html>