li {
    list-style: none;
}

li, ul {
    padding: 0px;
    margin: 0px;
}

.page-header {
    list-style: none;
    margin-top: 30px
}

a {
    color: black;
    text-decoration: none;
    outline: none;
}
a:hover {
    color: skyblue;
}

.page {
    width: 1440px;
    margin: 0 auto;
}

.title {
    width: 1500px;
    margin-bottom: 10px;
}
.title-size {
    font-size: 80px;
    margin-bottom: 20px;
}
.review-footer {
    font-size: 40px;
}
.main {

    width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
}
.time {
    color: gray;
}
.footer {
    width: 70%;
    text-align: left;
    margin: 0 auto;

    padding: 30px;

}
.review-insert {
    padding: 20px;

}

.music-info {
    width: 70%;
    height: 330px;
    margin: 0 auto;

    margin-top: 30px;
    padding: 20px;
    display: flex;
}
img {
    width: 300px;
    border-radius: 20px;
}

.song-info {
    width: 80%;
    position: relative;
    padding: 20px;

}
.add {
    margin-top: 50px;

    width: 50px;
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;


}
li.list {
    font-size: 30px;
    display: grid;
    margin-bottom:10px;
    grid-template-columns: 100px 1fr ;
}

.txt {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px;
}



.review {
    width: 70%;
    text-align: left;
    margin: 0 auto;

    margin-bottom: 20px;

}

.review-moeum {
    font-size: 25px;
    margin-left: 30px;
    padding: 20px;
}

li.review-doc {
    display: grid;
    grid-template-columns: 120px 400px 130px;
    margin-bottom: 10px;
}

.input {
    width: 92%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    margin-right: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid skyblue;
}
.position-btn {
    margin-top : 70px;
}
.submit-btn {
    margin-left: 20px;
    width: 50px;
    border: 1px solid skyblue;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;
}

hr {
    border: none;
    border: 1px solid gray;
}


#myform fieldset {
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}

#myform input[type=radio] {
    display: none; /* 라디오박스 감춤 */
}

#myform label {
    font-size: 1em; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}

#myform label:hover {
    text-shadow: 0 0 0 #fff326; /* 마우스 호버 */
}

#myform label:hover ~ label {
    text-shadow: 0 0 0 #fff326; /* 마우스 호버 뒤에오는 이모지들 */
}

#myform fieldset {
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}

#myform fieldset legend {
    text-align: left;

}

#myform input[type=radio]:checked ~ label {
    text-shadow: 0 0 0 #fff326; /* 마우스 클릭 체크 */
}