.mytitle {
    width: 100%;
    height: 250px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../image/cover.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > button {
    width: 200px;
    height: 50px;

    background-color: transparent;
    color: white;

    border-color: white;
    border-radius: 50px;
    border: 1px solid white;

    margin-top: 10px;
}

.mytitle > button:hover {
    border: 2px solid white;
}


.category {
    color: gray;
    border-bottom: 2px solid #444444;
    border-top: 2px solid #444444;
    padding: 10px;


}

.mycards {
    margin: 20px auto 0px auto;
    width: 95%;
    max-width: 1200px;
}

.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
}

.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}

.lists {
    height: 100px;
    cursor: pointer; /*마우스 커서 모양 변환*/
}

.lists:hover {
    background-color: lightgray;
}

table, th, td {

  }
  table {

  }


  th {
      vertical-align: middle; /*글자들 세로 줄맞추기*/
      text-align: center;      /*글자들 가로 줄 맞추기*/
      font-size: 40px;

  }
  td {
      vertical-align: middle;
      text-align: center;
      font-size: 30px;


  }

  /*글자 모양이 망가지는걸 방지하기 위한 최소 width값 설정*/
.header_list {
        min-width: 56px;
        width: 100px;
        font-size: 35px;
        margin: 0 auto;

}

.rank_list{

    margin-left: auto;
    margin-right: 10px;

}

.coverphoto {
    width: 140px;
    height: 140px;
}

table>table-hover {
    background-color: white;
}



/*마이페이지 버튼과 로그아웃 버튼에 호버를 넣어서 보기쉽게 설정*/

