.header__container {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../image/cover.jpg');
    background-position: center;
    background-size: cover;
}

.artist-main-info {
    /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');*/
    width: 1200px;
    height: 1500px;
    color: white;

    margin: 0 auto;
    margin-top: 30px;

    background-size: cover;
    background-position: center;
    padding-top: 40px;
}


.card-img-top {
    width: 80px;
    height: 80px;
}

.mylike {
    width: 1100px;

    font-size: 30px;

    margin: 30px auto auto auto;
}

.main_button {
    width: 120px;

    margin: 20px 0px 0px 950px;
}

.mypli{
    width:800px;
    padding-left: 100px;
}

.empty-box{
	height:125px;
}

.test {
    display: flex;
}

.album {
    /*width: 200px;*/
    /*height: 2   00px;*/
    /*background-color: lightgray;*/
    margin: 10px;
    font-size: 30px;
}
.album span {
    font-size: 30px;
}




.box-wrap {
	width: 100vw; height: 100vh;
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
}
.box {
	/*box-sizing:border-box;*/
	/*-webkit-box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;*/
	background-attachment: fixed;
	position: relative;

	background-size: inherit;
	background: #000;
	width: 350px; height: 350px;
	border: 5px solid #000000;
	cursor: pointer;
	overflow: hidden;
	box-shadow: 1px 8px 3px rgba(0,0,0,0.6);
}
.box img {
	width: 100%;
	transition: all 0.3s ease-in-out;
}
.box:before {
	background-attachment: fixed;
	content: '';
	background: #fff;
	width: 0px; height: 1px;
	position: absolute; right: 20px; top: 20px;
	transition: all 0.35s ease;
	background-attachment: fixed;
}
.box:after {
	background-attachment: fixed;
	content: '';
	background: #fff;
	width: 1px; height: 0px;
	position: absolute; right: 20px; top: 20px;
	transition: all 0.35s ease;
}

.box .info {

	position: absolute; left: 0; bottom: 0;
	color: #fff;
	width: 400px;
	background-size: inherit;
	background-attachment: fixed;
	padding: 15px;

	background-attachment: fixed;

	size: 400px 400px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.box .info h3 {
	font-size: 24px;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 3px;
}
.box .info p {
	font-size: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.box:hover .info {
	opacity: 1;
}
.box:hover img {
	opacity: 0.2;
}
.box:hover:before {
	width: 60px;
}
.box:hover:after {
	height: 60px;
}
