<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/c1651245ed.js" crossorigin="anonymous"></script>
    <script src="../static/js/logout.js"></script>
    <script src="../static/js/detail.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/screen/detail.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>뮤플리 - 상세페이지</title>
    <script>
        function get() {
            let cover = "{{cover}}"
            let rank = "{{rank}}"
            let singer = "{{singer}}"
            let album = "{{album}}"
            let title = "{{title}}"
            let done = 0;
            $.ajax({
                type: "POST",
                url: "/detail",
                data: {rank_give: rank, cover_give: cover, title_give: title, singer_give: singer, album_give: album, done_give: done},
                success: function (response) {
                     if (response.result == 'fail') {
                        alert(response['msg']);
                        location.href = '/loginForm';
                    } else {
                        alert('담기에 성공하셨습니다.');
                        location.reload();
                    }
                }
            })
        }

        function remove() {
            let rank = "{{rank}}"
            let title = "{{title}}"
            let singer = "{{singer}}"
            let album = "{{album}}"
            let cover = "{{cover}}"

            $.ajax({
                type: "POST",
                url: "/detail/remove",
                data: {rank_give: rank},
                success: function (response) {
                     if (response.result == 'fail') {
                        alert(response['msg']);
                        location.href = '/loginForm';
                    } else {
                        alert(response['msg']);
                        location.href = `/detail?rank=${rank}&title=${title}&singer=${singer}&album=${album}&cover=${cover}`;
                    }
                }
            })
        }
    </script>
</head>
<body>
<header>
    <div class="header__container">
        <div class="logo">
            <a href="/"><i class="fa-brands fa-spotify fa-4x"></i></a>
        </div>
        <nav class="nav-bar">
            <ul class="nav__item">
                {% set token = token %}
                {% if token %}
                <a href="/">
                    <li class="nav__list">메인페이지</li>
                </a>
                <a href="/mypage?id={{ id }}">
                    <li class="nav__list">마이페이지</li>
                </a>
                <a>
                    <li id="logout" onclick="logout()" class="nav__list">로그아웃</li>
                </a>
                {% else %}
                 <a href="/">
                    <li class="nav__list">메인페이지</li>
                </a>
                <a href="/loginForm">
                    <li class="nav__list">로그인</li>
                </a>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div class="main">
    <div class="music-info" id="music-info">
        <div class="song-image">
            <img src="{{ cover }}" class="music-image"
                 style="margin-right: 30px;">
            <div class="info"></div>
        </div>
        <div class="song-info" id="song-info">
            <p class="title-size">{{title}}</p>
            <li class="list">
                    <span class="attr">
                        가수명
                    </span>
                <span class="attr">
                        {{ singer }}
                    </span>
            </li>
            <li class="list" >
                    <span class="attr">
                         앨범
                    </span>
                <span class="attr">
                        {{ album }}
                    </span>
            </li>
            <li>
                {% if done != 0 %}
                    <button type="button" onclick="get()" class="add">등록 </button>
                {% else %}
                    <button type="button" onclick="remove()" class="add">등록 취소</button>
                {% endif %}
            </li>
        </div>
    </div>
    <hr>
    <div class="review">
        <h2 class="txt">리뷰 모음</h2>
        <div class="review-moeum" id="review-box">


        </div>
    </div>
    <hr>
    <div class="footer" id="footer">
        <p class="review-add">리뷰 작성</p>
        <div class="input">
            <input class="text" id="comment">
            <form name="form" id="myform" method="post" action="./save" style="margin-left: 20px;">
                <fieldset>
                    <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                    <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                    <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                    <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                    <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                </fieldset>
            </form>
            <button onclick="submit()" class="submit-btn" type="button">등록</button>
        </div>
    </div>
</div>
<hr>
</body>
</html>