<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c1651245ed.js" crossorigin="anonymous"></script>
    <script src="../static/js/logout.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/detailstyle.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>상세페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            add();
            show_music();
        });
        function add() {
            $.ajax({
                type: "GET",
                url: "/review",
                data: {},
                success: function (response) {
                    let rows = response['reviews']
                    for (let i = 0; i < rows.length; i++) {
                        let rank = rows[i]['rank']
                        let comment = rows[i]['comment']
                        let star = rows[i]['star']
                        let id = rows[i]['id']


                        let star_image = '⭐'.repeat(star)

                        let temp_html = ``

                        if ("{{rank}}" == rank) {
                            temp_html = `<li class="review-doc">
                                            <span class="review-text" id="review-id">
                                                ${id}
                                            </span>
                                            <span class="review-text" id="review-comment">
                                                ${comment}
                                            </span>
                                            <span class="review-text" id="review-star">
                                                ${star_image}
                                            </span>
                                        </li>`
                        } else {
                            temp_html = ``
                        }
                        $('#review-box').append(temp_html)
                    }
                }
            });
        }

        function submit() {
            let comment = $('#comment').val()
            let star = $("input[name='rating']:checked").val()
            let rank = "{{rank}}"

            $.ajax({
                type: "POST",
                url: "/review",

                data: {comment_give: comment, star_give: star, rank_give: rank},
                success: function (response) {

                    if (response.result == 'fail') {
                        alert(response['msg']);
                        location.href = '/loginForm';
                    } else {
                        alert('리뷰를 등록하였습니다.');
                        location.reload();
                    }
                }
            })
        }

        function get() {
            let cover = "{{cover}}"
            let singer = "{{singer}}"
            let album = "{{album}}"
            let title = "{{title}}"

            $.ajax({
                type: "POST",
                url: "/detail",
                data: {cover_give: cover, title_give: title, singer_give: singer, album_give: album,},
                success: function (response) {
                     if (response.result == 'fail') {
                        alert(response['msg']);
                        location.href = '/loginForm';
                    } else {
                        alert('담기에 성공하셨습니다.');
                        location.reload();
                    }
                }
            })
        }

        function remove() {
            let cover = "{{cover}}"
            let singer = "{{singer}}"
            let album = "{{album}}"
            let title = "{{title}}"


            $.ajax({
                type: "POST",
                url: "/detail",
                data: {cover_give: cover, title_give: title, singer_give: singer, album_give: album},
                success: function (response) {
                     if (response.result == 'fail') {
                        alert(response['msg']);
                        location.href = '/loginForm';
                    } else {
                        alert('취소에 성공하셨습니다.');
                        location.reload();
                    }
                }
            })
        }

        function show_music(){
            $.ajax({
                type: "GET",
                url: "/detail",
                data: {},
                success: function (response) {
                    let rows = response['musics']
                        console.log('musics')
                        for (let i = 0; i < rows.length; i++) {

                            let done = rows[i]['done']

                            let temp_html = ``

                            if (done == 0) {
                                temp_html = `<li>
                                             <button onclick="get()" class="submit-btn" type="button">등록</button>
                                            </li>`
                            } else {
                                temp_html = `<li>
                                             <button onclick="remove()" class="submit-btn" type="button">취소</button>
                                            </li>`
                            }

                            $('#song-info').append(temp_html)
                            }

                    }

            })

        }

    </script>
</head>
<body>

<header>
    <div class="logo">
        <a href="/"><i class="fa-brands fa-spotify fa-3x"></i></a>
    </div>
    <nav class="nav-bar">
        <ul class="nav__item">
            {% set token = token %}
            {% if token %}
            <a href="#">
                <li class="nav__list">마이페이지</li>
            </a>
            <a onclick="logout()">
                <li class="nav__list">로그아웃</li>
            </a>
            {% else %}
            <a href="/loginForm">
                <li class="nav__list">로그인</li>
            </a>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="main">
    <div class="music-info" id="music-info">
        <div class="song-image">
            <img src="{{ cover }}"
                 style="margin-right: 30px;">
        </div>
        <div class="song-info" id="song-info">
            <h2 class="title">{{ title }}</h2>
            <li class="list">
                    <span class="attr">
                        가수명
                    </span>
                <span class="attr">
                        {{ singer }}
                    </span>
            </li>
            <li class="list" >
                    <span class="attr">
                         앨범
                    </span>
                <span class="attr">
                        {{ album }}
                    </span>
            </li>

            <li>
                <button onclick="get()" class="submit-btn" type="button">등록</button>
            </li>

        </div>

    </div>
    <hr>
    <div class="review">
        <h2 class="txt">리뷰 모음</h2>
        <div class="review-moeum" id="review-box">
            <li class="review-doc">
                    <span class="review-text" id="review-id">
                        닉네임
                    </span>
                <span class="review-text" id="review-comment">
                        코멘트
                    </span>
                <span class="review-text" id="review-star">
                        별점
                    </span>
            </li>
        </div>
    </div>
    <hr>
    <div class="footer" id="footer">

        <h3>리뷰 작성</h3>

        <div class="input">
            <input class="text" id="comment">
            <form name="form" id="myform" method="post" action="./save" style="margin-left: 20px;">
                <fieldset>
                    <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                    <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                    <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                    <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                    <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
                </fieldset>
            </form>
            <button onclick="submit()" class="submit-btn" type="button">등록</button>
        </div>
    </div>
</div>
<hr>
</body>
</html>